.about-me{
    padding-top: 5em;
    color: #303030;

}

.details{
    padding: 3em 0;
}

.details h1{
    font-size: 54px;
    font-weight: 800;
    color: #635EE2;
    margin: .5em 0;
    letter-spacing: 3px;
}

h3{
    font-size: 32px;
    font-weight: 700;
    margin: .5em 0;
}

.details p{
    font-size: 18px;
    margin: 2em 0;
}

.border-circle{
    border-radius: 50%;
    width: 21.5em;
    height: 21.5em;
    border: 8px solid #635EE2;
    padding: .25em;
    z-index: 1;
}
.circle-image {
    width: 20em; 
    height: 20em; 
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #635EE2;
}
@media only screen and (max-width: 723px) {
    .about-me{
        padding-top: 6em;

        text-align: center;
    }
    .details h1{
        font-size: 32px;
        margin: .5em auto;
        letter-spacing: 1px;
    }
    .details{
        padding: 0 !important;
    }
    h3{
        font-size: 20px;
    }
    .details p{
        font-size: 14px;
        margin: 2em 1em;
    }
    .border-circle{
        width: 16.2em;
        height: 16.2em;
        border: 6px solid #635EE2;
    }
    .circle-image {
        width: 15em; 
        height: 15em; 

    }
    .order-first-on-mobile{
        order: -1;
    }
    .flex-column-center {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .flex-column-center .btn{
        margin-bottom: 1em;
    }
  }